[submodule "vendors/google/playgameservices/android-samples"]
	path = vendors/google/playgameservices/android-samples
	url = https://github.com/playgameservices/android-samples.git
[submodule "vendors/appirater-ios"]
	path = vendors/appirater-ios
	url = https://github.com/arashpayan/appirater.git
[submodule "vendors/b2dJson"]
	path = vendors/b2dJson
	url = https://github.com/michaelcontento/b2dJson.git
[submodule "vendors/google/marketbilling"]
	path = vendors/google/marketbilling
	url = https://code.google.com/p/marketbilling/
[submodule "vendors/mopub/androd"]
	path = vendors/mopub/androd
	url = https://github.com/newnon/mopub-android-sdk.git
[submodule "vendors/mopub/ios"]
	path = vendors/mopub/ios
	url = https://github.com/mopub/mopub-ios-sdk.git
