[submodule "vendors/google/playgameservices/android-samples"]
	path = vendors/google/playgameservices/android-samples
	url = https://github.com/playgameservices/android-samples.git
[submodule "vendors/appirater-ios"]
	path = vendors/appirater-ios
url=https://github.com/newnon/appirater.git
[submodule "vendors/mopub/androd"]
	path = vendors/mopub/androd
	url = https://github.com/newnon/mopub-android-sdk.git
[submodule "vendors/mopub/ios"]
	path = vendors/mopub/ios
	url = https://github.com/mopub/mopub-ios-sdk.git
[submodule "vendors/RMStore"]
	path = vendors/RMStore
	url = https://github.com/newnon/RMStore.git
[submodule "vendors/Fuseboxx/ios"]
	path = vendors/Fuseboxx/ios
	url = https://github.com/fusepowered/FuseSDKiOS.git
