<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avalon.notifications"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver android:name="com.avalon.notifications.LocalNotificationsReceiver" />

        <receiver android:name="com.avalon.notifications.LocalNotificationsRestore" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
